<ul class="nav navbar-nav navbar-right">
    @if (Session["UserName"] == null)
    {
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("Login", "Login", "Account")</li>
    }
    @if (Session["UserName"] != null)
    {
        <li>@Html.Label("userName", "Hello " + @Session["UserName"].ToString());</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
    }
</ul>

